body {
    background-color: Black;
    color: white;
    text-align: center;
    font-family: Consolas, Courier, monospace;
    letter-spacing: 3px;
}

img {border-radius: 25px;}
            
.typewriter h1 {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 3.5s steps(25, end),
    blink-caret .75s step-end infinite;
}
.typewriter h2 {
 overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 3.5s steps(25, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}


.yeah h2 {
    animation: fadeInAnimation ease 3s;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
