* {
  text-decoration: none!important;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    padding-left: 1rem;
  }

  nav li a {
    font-size: x-large;
    text-transform: lowercase;
   color: #FFF;
  }
  nav li a:hover {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom right, rgb(62, 62, 62), rgb(92, 92, 92));
    background-clip: text;
    color: transparent;
    transform: scale(0.2);
  }
  nav h2 a {
    color: #FFF;
    text-transform: uppercase;
  }

@media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
    nav ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    nav li {
      padding: 0.5rem 0;
  }
} 